<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Durga Jobs</title>
    <link rel="stylesheet" href='{% static "css/index.css" %}'>
</head>
<body>
    <h1>Home Page</h1>
    <!-- <a href="{% url 'hyderabad' %}"><button>Hyderabad Jobs</button></a> -->
    <a href="/hyd/"><button>Hyderabad Jobs</button></a>
    <a href="#"><button>Bangalore Jobs</button></a>
    <a href="#"><button>Pune Jobs</button></a>
</body>
</html>
